@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "./styles/auth.css";
@import "./styles/department.css";
@import "./styles/user.css";

:root {
  ---primary-color: #0d0d0d;
  ---secondary-color: #1a1a1a;
  ---heading-text-color: #eaeaea;
  ---component-color: #0077b6;
  ---support-text: #a0a0a0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  background-color: var(---primary-color);
}

#root,
#wrapper,
#sub-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  margin: auto;
}

#dot {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-image: radial-gradient(
    closest-side,
    var(---component-color),
    var(---primary-color)
  );
  position: fixed;
  top: -150px;
  left: 15%;
  transform: scale(3);
  /* z-index: -1; */
}

#navbar {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
}

nav {
  margin-top: 50px;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  background-color: var(---component-color);
  border-radius: 50px;
  position: sticky;
  top: 50px;
}

nav ul {
  list-style: none;
}

nav ul li {
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: var(---heading-text-color);
  font-size: 1.4rem;
}

nav ul li div {
  background-color: var(---heading-text-color);
  padding: 2px 10px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  transform: translate(100px, 0px);
  transition: all 0.5s ease-in-out;
  opacity: 0;
  color: var(---support-text);
  font-size: 1rem;
}

nav ul li:hover div {
  opacity: 1;
  visibility: visible;
  transform: translate(30px, 0px);
  transition: all 0.5s ease-in-out;
}

/* Banner CSS */
#banner {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

#banner h1 {
  color: var(---heading-text-color);
  font-size: 5rem;
}

@media (max-width: 768px) {
  #root,
  body,
  html {
    width: auto;
    height: auto;
  }

  #root {
    flex-direction: column;
  }

  #sub-wrapper{
    flex-direction: column;
    width: 100%;
  }

  #navbar {
    width: 100%;
    flex-direction: row;
  }

  nav {
    /* width: 100%; */
    /* width: 150px; */
  }
  nav ul {
    display: flex;
    height: fit-content;
  }

  nav ul li{
    padding: 0px 5px;
  }
  nav ul li div {
    position: absolute;
    bottom: 10px;
    transform: translate(100px, 0px);
    transition: all 0.5s ease-in-out;
    opacity: 0;
    color: var(---support-text);
    font-size: 1rem;
  }

  nav ul li:hover div {
    opacity: 1;
    visibility: visible;
    transform: translate(-30px, 30px);
    transition: all 0.5s ease-in-out;
  }

  #container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid white;
  }

  #banner h1 {
    font-size: 3rem;
    text-align: center;
  }
}

.background {
  background: rgba(46, 46, 46, 0.5);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);

  border: 1px solid rgba(255, 255, 255, 0.208);
  border-radius: 15px;
  z-index: 2;
  position: relative;
}
